@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url('../images/image1.jpg');
    background-size: cover;
    background-position: bottom;
    height: 600px;
    
    /*move text (link) to the center*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__link a {
    background-color: #2a3a3994;
    border: 2px solid #2a3a39;
    color: #e5cdb1;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-transform: uppercase;
    text-decoration: none; /*remove botton line from link*/ 

    transition: all 0.5s ease-in-out;
}

.intro-image__link a:hover {
    transform: scale(1.05);
}

.intro-text {
    background-color: #2a3a39d0;
    color: #e5cdb1;
    height: 250px;
 
    /*move text (link) to the center*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
}

.intro-text__textbox h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.intro-text__textbox p {
    font-style: italic;
    text-align: justify;
}

.quality-image {
    background-attachment: fixed;
    background-image: url('../images/image3.jpg');
    background-size: cover;
    background-position: bottom;
    height: 400px;

    /*move text (link) to the center*/
    display: flex;
    align-items: center;
    justify-content: center;   
}

.quality-image__link a{
    background-color: #25232667;
    border: 2px solid #252326;
    color: #e5cdb1;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-transform: uppercase;
    text-decoration: none; /*remove botton line from link*/ 

    transition: all 0.5s ease-in-out;
}

.quality-image__link a:hover {
    transform: scale(1.05);
}

.quality-text {
    background-color: #252326c2;
    color: #e5cdb1;
    height: 250px;
 
    /*move text (link) to the center*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
}

.quality-text__textbox h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-text__textbox p {
    font-style: italic;
    text-align: justify;
}

.original-image {
    background-attachment: fixed;
    background-image: url('../images/image2.jpg');
    background-size: cover;
    background-position: bottom;
    height: 400px;

    /*move text (link) to the center*/
    display: flex;
    align-items: center;
    justify-content: center;   
}

.original-image__link a{
    background-color: #5d504879;
    border: 2px solid #5d5048;
    color: #e5cdb1;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-transform: uppercase;
    text-decoration: none; /*remove botton line from link*/ 

    transition: all 0.5s ease-in-out;
}

.original-image__link a:hover {
    transform: scale(1.05);
}

.original-text {
    background-color: #5d5048;
    color: #e5cdb1;
    height: 250px;
 
    /*move text (link) to the center*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
}

.original-text__textbox h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.original-text__textbox p {
    font-style: italic;
    text-align: justify;
}

.footer {
    background-color: #2a3a39d0;
    color: #e5cdb1;
    font-size: 1.2rem;
    height: 150px;
    padding-top: 1rem;
}

.footer ul li {
    display: inline-block;
    margin: 0.5rem;
}

.footer a {
    color: #e5cdb1;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #2a3a39;

    display: inline-block;
    transform: scale(1.1);
}